extraInitContainers: 
  - name: "init-plugins"
    image: "SONARQUBE_PLUGINS_IMAGE"
    imagePullPolicy: "IfNotPresent"
    command:
      - sh
      - "-c"
      - "cp -afr /tmp/sonarqube/extensions/plugins/* /opt/sonarqube/extensions/plugins/"
    volumeMounts:
      - mountPath: /opt/sonarqube/extensions
        name: sonarqube
        subPath: extensions
